body {
	background-color: #000;
	color: #fff;
	text-align: center;
	margin: auto;
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#clock {
	display: table-cell;
    vertical-align: middle;
}

#clock .counter_part {
	display: inline-block;
	font-family: Arial;
}

.text {
	font-family: Arial;
}