body {
	background-color: #000;
	color: #fff;
	text-align: center;
	margin: auto;
}

#clock {
	margin-top: 10%;
}
#clock .counter_part {
	display: inline-block;
	font-family: Arial;
}

.text {
	font-family: Arial;
}